h1,
h2 {
  color: red;
}

p {
  color: black;
}

ul {
  border: 2px solid red;
}

ol {
  border: 2px solid blue;
}

ol,
ul {
  padding: 5px 20px;
  border-radius: 4px;
}

h1,
strong {
  color: blue;
}

em {
  color: gray;
}
